@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.foodTable {
  margin-top: 10rem;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
}
.cardBox{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
}
.breakfast{
  width: 25%;
  margin: 20px;
  background-color: #ff9500;
  border-radius: 7px;
  transition: margin 0.2s;
}

.lunch{
  width: 25%;
  margin: 20px;
  background-color: #00bf60;
  border-radius: 7px;
  transition: margin 0.2s;
}

.dinner{
  width: 25%;
  margin: 20px;
  background-color: #5e3dff;
  border-radius: 7px;
  transition: margin 0.2s;
}

.lunch:hover,
.breakfast:hover,
.dinner:hover {
  margin-top: 10px;
  margin-bottom: 40px;
}

.menu {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 4rem;
  font-family: 'Sunflower', sans-serif;
}

.foodTime {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  font-family: 'Black Han Sans', sans-serif;
}

.dateOfFood {
  font-family: 'Jua', sans-serif;
  font-size: 3.5rem;
  color: #B666D2;
}

#lable {
  color: #ff178b;
}