@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto:ital,wght@1,100&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.index .title {
  margin-top: 1rem;
  text-align: center;
}

.index .title h2 {
  font-size: 3.5rem;
  color: #fff;
  font-family: 'Pacifico', cursive;
}

.index .title h3 {
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
  color: rgb(0, 138, 53);
}

.index .box {
  width: 19rem;
  height: 26rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  margin: auto;
  margin-top: 0.2rem;
  background-color: #fff;
  box-shadow: 1px 1px 3px 1px #ddd;
  text-align: center;
}

.index h1 {
  text-align: center;
  font-size: 2.3rem;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  font-family: 'Josefin Sans', sans-serif;
}

.index .rad-label {
  background-color: rgb(206, 231, 248);
  margin-top: 4rem;
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;

  cursor: pointer;
  transition: .3s;
}

.index .rad-label:hover,
.index .rad-label:focus-within {
  background: rgba(37, 70, 255, 0.25);
}

.index .rad-input {
  margin-top: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.index .rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(to right bottom, hsl(226, 65%, 48%), hsl(266, 69%, 56%));
  position: relative;
}

.index .rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}



.index .rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.index .rad-text {
  font-family: 'Gowun Dodum', sans-serif;
  color: #888;
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  transition: .3s;
}

.index .rad-input:checked~.rad-text {
  color: #000;
}


.index .abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: hsla(0, 0%, 0%, .5);
  font-size: 16px;
}

.index .btn {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 6rem;
  height: 2.7rem;
  margin-top: 5rem;
  background-color: rgba(212, 0, 255, 0.35);
  border-radius: 1rem;
  color: #000;
  font-size: 1.4rem;
}

.index .btn:hover,
.index .btn:checked {
  background-color: rgba(212, 0, 255, 0.55);
}