.cards{
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}
.link-Buttion-Position{
  justify-content: right;
}
.animation-bar{
  height: 160;
}
@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}
.space-100px{
  height: 100px;
}
.img-animation {
  width: 100%;
  height: 140px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
}
.img-animation li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 28s linear infinite;
}




.img-animation li:nth-child(0) {
  left: 8%;
  width: 60px;
  height: 60px;
  bottom: -60px;
  animation-delay: 1s;
}
.img-animation li:nth-child(1) {
  left: 4%;
  width: 110px;
  height: 110px;
  bottom: -110px;
  animation-delay: 4s;
}
.img-animation li:nth-child(2) {
  left: 31%;
  width: 117px;
  height: 117px;
  bottom: -117px;
  animation-delay: 5s;
}
.img-animation li:nth-child(3) {
  left: 77%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 2s;
}
.img-animation li:nth-child(4) {
  left: 27%;
  width: 113px;
  height: 113px;
  bottom: -113px;
  animation-delay: 6s;
}
.img-animation li:nth-child(5) {
  left: 47%;
  width: 116px;
  height: 116px;
  bottom: -116px;
  animation-delay: 22s;
}
.img-animation li:nth-child(6) {
  left: 47%;
  width: 132px;
  height: 132px;
  bottom: -132px;
  animation-delay: 17s;
}
.img-animation li:nth-child(7) {
  left: 65%;
  width: 94px;
  height: 94px;
  bottom: -94px;
  animation-delay: 31s;
}
.img-animation li:nth-child(8) {
  left: 39%;
  width: 62px;
  height: 62px;
  bottom: -62px;
  animation-delay: 30s;
}
.img-animation li:nth-child(9) {
  left: 50%;
  width: 110px;
  height: 110px;
  bottom: -110px;
  animation-delay: 34s;
}
.img-animation li:nth-child(10) {
  left: 32%;
  width: 73px;
  height: 73px;
  bottom: -73px;
  animation-delay: 41s;
}
.img-animation li:nth-child(11) {
  left: 42%;
  width: 92px;
  height: 92px;
  bottom: -92px;
  animation-delay: 52s;
}
.img-animation li:nth-child(12) {
  left: 67%;
  width: 121px;
  height: 121px;
  bottom: -121px;
  animation-delay: 4s;
}
.img-animation li:nth-child(13) {
  left: 79%;
  width: 95px;
  height: 95px;
  bottom: -95px;
  animation-delay: 11s;
}
.img-animation li:nth-child(14) {
  left: 68%;
  width: 65px;
  height: 65px;
  bottom: -65px;
  animation-delay: 22s;
}
.img-animation li:nth-child(15) {
  left: 52%;
  width: 136px;
  height: 136px;
  bottom: -136px;
  animation-delay: 61s;
}
.img-animation li:nth-child(16) {
  left: 14%;
  width: 71px;
  height: 71px;
  bottom: -71px;
  animation-delay: 32s;
}
.img-animation li:nth-child(17) {
  left: 52%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 19s;
}
.img-animation li:nth-child(18) {
  left: 35%;
  width: 125px;
  height: 125px;
  bottom: -125px;
  animation-delay: 69s;
}
.img-animation li:nth-child(19) {
  left: 35%;
  width: 150px;
  height: 150px;
  bottom: -150px;
  animation-delay: 38s;
}

.lds-ring {
  margin: 0 auto;
  width: 30rem;
  height: 30rem;
}
.lds-ring div {
  margin: 0 auto;
  box-sizing: border-box;
  position: absolute;
  width: 10rem;
  height: 10rem;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingBar {
  margin: auto;
  margin-top: 35vh;
}

.loadingMessage {
  margin-top: 7rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}
